html, body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd, div, span, em, strong, table, thead, tbody, th, td, th, a, form, input, select, textarea {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-style: normal;
    font-family: "苹方", "Droid Sans Fallback", "微软雅黑", "宋体";
}

body {
    font-size: 14px;
    color: #333333;
    line-height: 18px;
    -webkit-text-size-adjust: 100%!important;
}

a {
    color: #333333;
    text-decoration: none;
}

    a:hover {
/*         color: #cc0000; */
        text-decoration: none;
    }

table {
    border-collapse: collapse;
}

input {
    vertical-align: middle;
    font-size: 12px;
    color: #333333;
}

textarea {
    color: #333333;
    font-size: 12px;
}

select {
    color: #333333;
    font-size: 12px;
    vertical-align: middle;
    padding: 1px;
}

.clear {
    clear: both;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    padding: 0px;
    margin: 0px;
}

img {
    border: 0px;
    margin: 0px;
    padding: 0px;
    line-height: 0px;
}