.comMask {
    background: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 500;
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    opacity: .5
}

.popup-container.active .popup {
    border-radius: 3px
}

.popup-buttons .button {
    min-height: 35px
}

.popup-head {
    padding: 5px 10px;
    border-bottom: 1px solid #eee;
    text-align: center
}

.popup-title {
    margin: 0;
    padding: 0;
    font-size: 15px
}

.popup-sub-title {
    margin: 5px 0 0;
    padding: 0;
    font-weight: 400;
    font-size: 11px
}

.popup-body {
    padding: 10px 20px;
    font-size: 15px;
    color: #888;
    text-align: center
}

.popup-buttons {
    border: 1px solid hsla(0, 4%, 39%, .2);
    padding: 5px
}

.sc_button_ok {
    color: #04be02
}

.sc_button_cancle,
.sc_button_ok {
    display: block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border: 1px solid hsla(0, 30%, 91%, .2);
    padding: 0 8px;
    border-radius: 4px;
    font-size: 1pc
}

.sc_button_cancle {
    color: #b2b2b2
}

.comMenu {
    position: absolute;
    top: 54px;
    right: 5px;
    background: #49484b;
    padding: 0 14px;
    z-index: 1000
}

.comMenu.right {
    right: 8px
}

.comMenu .AShape {
    color: #49484b;
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px
}

.comMenu.right .AShape {
    right: 4px
}

.comMenu li {
    border-bottom: 1px solid #6d6262;
    line-height: 44px;
    height: 44px
}

.comMenu li:last-child {
    border: 0
}

.comMenu li a {
    display: inline-block;
    text-align: left;
    white-space: nowrap;
    padding: 0 8px 0 0;
    color: #fff;
    font-size: 1pc
}

.comMenu li .Icon {
    display: inline-block;
    width: 2pc;
    height: 44px;
    float: left
}

.comMenu li .addFriendIcon {
    background: url(/images/Mobile_bg0042_26.png) center center no-repeat;
    background-size: 2pc 2pc
}

.comMenu li .scanIcon {
    background: url(/images/Mobile_bg0042_27.png) center center no-repeat;
    background-size: 2pc 2pc
}

.comMenu li .circlesIcon {
    background: url(/images/Mobile_bg0048_3.png) center center no-repeat;
    background-size: 2pc 2pc
}

.comMenu li .weixinIcon {
    background: url(/images/Mobile_bg0042_28.png) center center no-repeat;
    background-size: 2pc 2pc
}

.comMenu li .lineIcon {
    background: url(/images/Mobile_bg0042_29.png) center center no-repeat;
    background-size: 2pc 2pc
}

.comMenu li .qqIcon {
    background: url(/images/Mobile_bg0042_30.png) center center no-repeat;
    background-size: 2pc 2pc
}

.comMenu li .qzoneIcon {
    background: url(/images/Mobile_bg0042_31.png) center center no-repeat;
    background-size: 2pc 2pc
}

.comMenu li .weiboIcon {
    background: url(/images/Mobile_bg0042_29.png) center center no-repeat;
    background-size: 2pc 2pc
}

.comMenu li .sinaIcon {
    background: url(/images/Mobile_bg0042_32.png) center center no-repeat;
    background-size: 2pc 2pc
}

.comMenu li .circlesInfoIcon {
    background: url(/images/Mobile_bg0042_33.png) center center no-repeat;
    background-size: 2pc 2pc
}

.comMenu li .mapIcon {
    background: url(/images/Mobile_bg0042_34.png) center center no-repeat;
    background-size: 2pc 2pc
}

.comMenu li .myFriendIcon {
    background: url(/images/Mobile_bg0042_35.png) center center no-repeat;
    background-size: 2pc 2pc
}

.comTab {
    background: #fff;
    height: 40px;
    position: relative
}

.comTab:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #d9d9d9;
    color: #d9d9d9;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    z-index: 2
}

.comTab .swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-transition-property: -ms-transform;
    -moz-box-sizing: content-box
}

.comTab .swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative
}

.comTab li a {
    display: block;
    height: 36px;
    line-height: 36px;
    font-size: 1pc;
    text-align: center;
    padding: 2px 8px 0;
    border-bottom: 2px solid #fff
}

.comTab li a.Selected {
    color: #e64340;
    border-bottom: 2px solid #e64340
}

.comTab .LeftNav {
    position: relative;
    margin-right: 40px
}

.comTab .LeftNav .RightMask {
    background: red;
    width: 30px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    background: url(../images/Mobile_bg0126.png) right top repeat-y
}

.comTab .LeftNav .swiper-container {
    width: 100%;
    height: 100%;
    padding: 0 30px 0 8px;
    box-sizing: border-box
}

.comTab .LeftNav .swiper-slide {
    text-align: center;
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.comTab .More {
    color: #005bac;
    background: url(/images/Mobile_bg0002_0.png) center center no-repeat;
    background-size: 22px 4px
}

.comTab .More,
.comTab .More1 {
    position: absolute;
    right: 0;
    top: 0;
    height: 40px;
    line-height: 40px;
    width: 44px
}

.comTab .More1 {
    background: url(/images/Mobile_bg0183_1.png) center center no-repeat;
    background-size: 1pc 8px
}

.comFriendItem {
    box-sizing: border-box;
    background: #fff;
    height: 68px;
    width: 100%;
    padding: 9pt 1pc;
    position: relative;
    overflow: hidden
}

.comFriendItem.Offline {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%)
}

.comFriendItem .HeadImg {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    float: left
}

.comFriendItem .Infos {
    position: absolute;
    top: 0;
    left: 0;
    height: 68px;
    width: 100%;
    padding: 9pt 1pc;
    padding-left: 68px;
    box-sizing: border-box
}

.comFriendItem .Infos .FirstInfo {
    overflow: hidden
}

.comFriendItem .Infos .FirstInfo .NickName {
    position: relative;
    float: left;
    font-size: 1pc;
    line-height: 24px;
    text-overflow: ellipsis;
    height: 24px;
    overflow: hidden;
    color: #000;
    white-space: nowrap;
    max-width: 90px
}

@media screen and (min-width:320px) {
    .comFriendItem .Infos .FirstInfo .NickName {
        max-width: 75pt
    }
}

@media screen and (min-width:375px) {
    .comFriendItem .Infos .FirstInfo .NickName {
        max-width: 150px
    }
}

@media screen and (min-width:410px) {
    .comFriendItem .Infos .FirstInfo .NickName {
        max-width: 185px
    }
}

.comFriendItem .Infos .FirstInfo .loginInfo {
    position: relative;
    float: right;
    line-height: 24px;
    font-size: 9pt;
    color: #666
}

.comFriendItem .Infos .SecondInfo {
    overflow: hidden
}

.comFriendItem .Infos .SecondInfo .Male {
    background: url(/images/Mobile_bg0065_1.png) 2px center no-repeat #00a0e9;
    background-size: 10px 10px
}

.comFriendItem .Infos .SecondInfo .Female,
.comFriendItem .Infos .SecondInfo .Male {
    position: relative;
    float: left;
    height: 14px;
    margin: 4px 5px 4px 0;
    color: #fff;
    padding: 0 2px 0 9pt;
    font-size: 9pt;
    line-height: 14px;
    border-radius: 2px
}

.comFriendItem .Infos .SecondInfo .Female {
    background: url(/images/Mobile_bg0065_2.png) 2px center no-repeat #e4007f;
    background-size: 10px 10px
}

.comFriendItem .Infos .SecondInfo .Position {
    float: left;
    background: url(/images/Mobile_bg0066.png) right center no-repeat;
    background-size: 8px 9pt;
    padding-right: 9pt;
    max-width: 150px
}

.comFriendItem .Infos .SecondInfo .Position,
.comFriendItem .Infos .Sign {
    font-size: 14px;
    color: #666;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.comFriendItem .Infos .Sign {
    height: 22px
}

.comFriendItem:after {
    content: "";
    pointer-events: none;
    position: absolute;
    bottom: 0;
    left: 1pc;
    width: 100%;
    height: 1px;
    background: #b8b8b8
}

.comFriendItem:last-child:after {
    display: none
}

.comFriendsList {
    border-top: 1px solid #dbd8d8;
    border-bottom: 1px solid #dbd8d8;
    padding-left: 10px;
    background: #fff
}

.comFriendsList li {
    position: relative;
    border-bottom: 1px solid #dbd8d8;
    overflow: hidden;
    padding: 10px 0
}

.comFriendsList li:last-child {
    border-bottom: none
}

.comFriendsList li .HeadImg {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    float: left;
    overflow: hidden
}

.comFriendsList li .name {
    float: left;
    padding-left: 10px;
    height: 44px;
    line-height: 44px;
    font-size: 1pc;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.comFriendsList li.Offline {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%)
}

.comProductItem {
    -webkit-transition: all .5s ease-out;
    -webkit-transform: translate3d(0, 0, 0)
}

.comProductItem .ItemLink {
    position: relative;
    display: block;
    padding: 9pt 1pc;
    margin-bottom: 1px;
    background: #fff;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden
}

.comProductItem .ItemLink .ProductImg {
     position: relative;
     height: 90px;
     width: 64px;
     float: left;
 }
.comProductItem .ItemLink .ProductImg img{
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.comProductItem .ItemLink .VideoItem {
    position: relative;
    height: 90px;
    width: 64px;
    float: left;
    background: url(http://wx.100xuexi.com/images/bgimg/videocoverbgimg.jpg);
    background-size: 100% 100%;
}
.comProductItem .ItemLink .VideoItem img{
    position: absolute;
    left: 10%;
    top: 30%;
    width: 80%;
    height: auto;
    border: 1px solid #ffffff;
}
.comProductItem .ItemLink .GiftItem {
    position: relative;
    height: 90px;
    width: 64px;
    float: left;
    background: url(http://wx.100xuexi.com/images/bgimg/biggiftcoverbgImg.jpg);
    background-size: 100% 100%;
}
.comProductItem .ItemLink .GiftItem img{
    position: absolute;
    left: 10%;
    top: 30%;
    width: 80%;
    height: auto;
    border: 1px solid #ffffff;
}

.comProductItem .ItemLink .Des {
    position: relative;
    padding-left: 74px;
    height: 90px;
    box-sizing: border-box;
    width: 100%
}

.comProductItem .ItemLink .Des .Name {
    position: relative;
    line-height: 1.4;
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-align: left;
    font-size: 14px;
    height: 59px;
}

.comProductItem .ItemLink .Des .Name .CssType {
    color: #f02929
}

.comProductItem .ItemLink .Des .OtherInfo {
    font-size: 12px;
    line-height: 1.6;
    color: #666666;
    width: 100%
}

.comProductItem .ItemLink .Des .OtherInfo .left {
    float: left;
}
.comProductItem .ItemLink .Des .OtherInfo .left .ReadTips {
    color: #666;
    font-size: 9pt;
    line-height: 20px
}

.comProductItem .ItemLink .Des .OtherInfo .right {
    position: absolute;
    top: 0;
    right: 9pt
}

.comProductItem .ItemLink .Des .OtherInfo .right .BtnBuy {
    color: #ff3e3e;
    float: right;
    border-radius: 4px;
    line-height: 14px;
    font-size: 14px;
    padding: 5px 8px;
    position: relative;
    margin-left: 10px;
}

.comProductItem .ItemLink .Des .OtherInfo .right .BtnBuy:after{
        content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #ffcece;
    box-sizing: border-box;
    border-radius: 4px;
}

.comLoginItem .comMask {
    background: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 500;
    filter: alpha(opacity=50);
    -moz-opacity: .5;
    opacity: .5
}

.comLoginItem .LoginContent {
    position: absolute;
    width: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    z-index: 501
}

.comLoginItem .LoginContent .top {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 44px
}

.comLoginItem .LoginContent .top .title {
    margin: auto 9pt;
    padding: 0;
    font-size: 1pc;
    line-height: 44px;
    height: 44px;
    text-align: center
}

.comLoginItem .LoginContent .top .title .subTitle {
    font-size: 9pt;
    color: #302929
}

.comLoginItem .LoginContent .top .btnClose {
    float: right;
    width: 44px;
    height: 44px;
    background: url(/images/Mobile_bg0016.png) center center no-repeat;
    background-size: 50% 50%
}

.comLoginItem .LoginContent .content {
    margin: 20px 0;
    padding: 0 18px
}

.comLoginItem .LoginContent .content .Info {
    background: #fff;
    padding: 0;
    margin: 10px 0
}

.comLoginItem .LoginContent .content .Info .find {
    color: #00f
}

.comLoginItem .LoginContent .content .UserName .Container {
    background: #fff;
    border-radius: 4px;
    padding: 0 8px;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, .2)
}

.comLoginItem .LoginContent .content .UserName .Container .TextBox {
    background: Transparent;
    padding: 0;
    margin: 0;
    width: 100%;
    vertical-align: top;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 0;
    color: #999;
    font-size: 14px;
    line-height: 40px
}

.comLoginItem .LoginContent .content .MsgCode {
    background: #fff;
    height: 40px;
    margin: 0;
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, .2)
}

.comLoginItem .LoginContent .content .MsgCode .L {
    height: 40px;
    overflow: hidden;
    width: 50%;
    float: left
}

.comLoginItem .LoginContent .content .MsgCode .L .Container {
    margin: 0 8px
}

.comLoginItem .LoginContent .content .MsgCode .L .Container .TextBox {
    background: Transparent;
    padding: 0;
    margin: 0;
    width: 100%;
    vertical-align: top;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 0;
    color: #333;
    font-size: 14px;
    line-height: 40px
}

.comLoginItem .LoginContent .content .MsgCode .R {
    width: 50%;
    float: right
}

.comLoginItem .LoginContent .content .MsgCode .R .BtnGeting {
    height: 40px;
    overflow: hidden;
    text-align: right;
    color: #00f;
    font-size: 14px;
    display: block;
    line-height: 40px;
    padding-right: 8px
}

.comLoginItem .LoginContent .bot {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: 1px solid #d9d9d9
}

.comLoginItem .LoginContent .bot .btnOK {
    display: block;
    height: 38px;
    line-height: 38px;
    text-align: center;
    color: #fff;
    background: #04be02;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 0 8px;
    border-radius: 4px;
    font-size: 1pc;
    margin: 1pc
}

.comLoginItem .LoginContent .bot .btnOK:active {
    background-color: #039702
}

.comSearchBar {
    position: relative;
    padding: 8px;
    background: #efeff4;
    z-index: 500;
    border-bottom: 1px solid #d9d9d9
}

.comSearchBar .BtnClass {
    width: 2pc;
    height: 28px;
    position: absolute;
    right: 8px;
    top: 8px
}

.comSearchBar .BtnClass.CategoryBtn {
    background: url(/images/Mobile_bg0106_0.png) center center no-repeat;
    background-size: 1pc 1pc
}

.comSearchBar .Search {
    border-radius: 4px;
    background: #fff;
    height: 26px;
    overflow: hidden;
    position: relative;
    border: 1px solid #d9d9d9;
    display: block
}

.comSearchBar .Search .SearchBox {
    margin-right: 30px;
    margin-left: 5px;
    height: 26px
}

.comSearchBar .Search .SearchBox .TextSearch {
    width: 100%;
    border: 0;
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    color: #888;
    display: block;
    cursor: pointer
}

.comSearchBar .Search .BtnSearch {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 28px;
    background: #c00;
    background: url(../images/Mobile_bg0010.png) center center no-repeat;
    background-size: auto 50%
}

.comSearchBar .BtnCancel {
    position: absolute;
    right: 0;
    top: 0;
    height: 44px;
    line-height: 44px;
    padding-right: 8px;
    color: #09ba07;
    font-size: 1pc;
    display: none
}

.comSearchBar.has-right-button.OnSearch .BtnClass {
    display: none
}

.comSearchBar.OnSearch .Search,
.comSearchBar.has-right-button .Search {
    margin-right: 40px
}

.comSearchBar.OnSearch .BtnCancel {
    display: block
}

@-webkit-keyframes Flicker {
    0% {
        border-bottom-width: 5px;
        margin-top: 0
    }
    to {
        border-bottom-width: 0;
        margin-top: 5px
    }
}

@keyframes Flicker {
    0% {
        border-bottom-width: 5px;
        margin-top: 0
    }
    to {
        border-bottom-width: 0;
        margin-top: 5px
    }
}

@-webkit-keyframes Flicker2 {
    0% {
        padding: 8px 15px 8px 17px
    }
    to {
        padding: 8px 17px 8px 15px
    }
}

@keyframes Flicker2 {
    0% {
        padding: 8px 15px 8px 17px
    }
    to {
        padding: 8px 17px 8px 15px
    }
}

.DownloadAppTips {
    background: rgba(0, 0, 0, .7);
    height: 50px;
    color: #c30;
    position: fixed;
    left: 0;
    right: 0;
    top: 44px;
    width: 100%;
    box-sizing: border-box;
    z-index: 1500;
    padding-right: 44px
}

.DownloadAppTips .BtnClose {
    position: absolute;
    width: 44px;
    height: 50px;
    right: 0;
    top: 0;
    background: url(../images/Mobile_bg0039_1.png) center center no-repeat;
    background-size: 20px 20px
}

.DownloadAppTips a {
    display: block
}

.DownloadAppTips .AppIco {
    float: left;
    width: 2pc;
    height: 2pc;
    padding: 8px
}

.DownloadAppTips .AppIco img {
    width: 2pc;
    height: 2pc;
    vertical-align: top
}

.DownloadAppTips .Text {
    color: #c30;
    color: #fff;
    line-height: 2pc;
    font-size: 14px;
    margin: 0 60px 0 47px;
    padding: 8px 0;
    display: block
}

.DownloadAppTips .Text .H {
    font-size: 1pc;
    display: block
}

.DownloadAppTips .Text .Des {
    font-size: 14px;
    display: block
}

.DownloadAppTips .Text .DesShort {
    font-size: 14px;
    display: none
}

.DownloadAppTips .BtnDownloadContainer {
    float: right;
    height: 50px;
    overflow: hidden;
    zoom: 1
}

.DownloadAppTips .BtnDownload {
    background: #e4393c;
    color: #fff;
    border-bottom: 1px solid #c00;
    float: left;
    line-height: 28px;
    height: 28px;
    padding: 0 5px;
    border-radius: 4px;
    margin: 10px 0 0
}

@media screen and (max-width:400px) {
    .DownloadAppTips .Text .Des {
        display: none
    }
    .DownloadAppTips .Text .DesShort {
        display: block
    }
}

@media screen and (max-width:320px) {
    .DownloadAppTips .Text .DesShort {
        font-size: 9pt
    }
}

.NavLinks {
    margin-bottom: 20px;
    overflow: hidden;
    zoom: 1;
    position: relative
}

.NavLinks:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    border-top: 1px solid #d9d9d9;
    color: #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    z-index: 5
}

.NavLinks li {
    position: relative;
    background-color: #fff
}

.NavLinks li:first-child:before {
    display: none
}

.NavLinks li:before {
    content: " ";
    position: absolute;
    left: 1pc;
    top: 0;
    right: 0;
    border-top: 1px solid #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.NavLinks li a {
    display: block;
    position: relative;
    padding: 6px 1pc;
    background-size: 8px 14px
}

.NavLinks li a .Ico {
    width: 2pc;
    height: 2pc;
    float: left
}

.NavLinks li a .Ico_1 {
    background: url(/images/Mobile_bg0156_1.png) center center no-repeat;
    background-size: 24px 24px
}

.NavLinks li a .Ico_2 {
    background: url(/images/Mobile_bg0156_2.png) center center no-repeat;
    background-size: 24px 24px
}

.NavLinks li a .Ico_3 {
    background: url(/images/Mobile_bg0156_3.png) center center no-repeat;
    background-size: 24px 24px
}

.NavLinks li a .Ico_4 {
    background: url(/images/Mobile_bg0156_4.png) center center no-repeat;
    background-size: 24px 24px
}

.NavLinks li a .Ico_5 {
    background: url(/images/Mobile_bg0156_5.png) center center no-repeat;
    background-size: 24px 24px
}

.NavLinks li a .Ico_6 {
    background: url(/images/Mobile_bg0156_6.png) center center no-repeat;
    background-size: 24px 24px
}

.NavLinks li a .Ico_7 {
    background: url(/images/Mobile_bg0156_8.png) center center no-repeat;
    background-size: 24px 24px
}

.NavLinks li a .Ico_8 {
    background: url(/images/Mobile_bg0156_9.png) center center no-repeat;
    background-size: 24px 24px
}

.NavLinks li a .Ico_9 {
    background: url(/images/Mobile_bg0156_10.png) center center no-repeat;
    background-size: 24px 24px
}

.NavLinks li a .Ico_10 {
    background: url(/images/Mobile_bg0156_11.png) center center no-repeat;
    background-size: 24px 24px
}

.NavLinks li a .Text {
    font-size: 1pc;
    display: block;
    line-height: 2pc;
    margin-left: 36px
}

.NavLinks li a .Tips {
    color: #666;
    font-size: 14px
}

.NavLinks li a .MsgCount,
.NavLinks li a .Tips {
    height: 18px;
    line-height: 18px;
    border-radius: 9px;
    padding: 0 6px;
    position: absolute;
    right: 36px;
    top: 13px
}

.NavLinks li a .MsgCount {
    background: red;
    color: #fff;
    font-size: 9pt
}

.NavLinks li a .IcoNew {
    background: #f53532;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    position: absolute;
    top: 18px;
    right: 36px
}

.NavLinks li .NewMsgHead {
    position: absolute;
    right: 36px;
    top: 6px
}

.NavLinks li .NewMsgHead img {
    width: 2pc;
    height: 2pc
}

.NavLinks li .NewMsgHead .IcoNew {
    background: #f53532;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    right: -4px;
    top: -4px;
    position: absolute
}

.nav-bar-block .buttons-right .AddIcon {
    background: url(/images/Mobile_bg0009.png) center center no-repeat;
    background-size: 20px 20px
}

.nav-bar-block .buttons-right .AddIcon,
.nav-bar-block .buttons-right .MoreIcon {
    float: right;
    height: 44px;
    width: 2pc;
    padding: 0;
    border: none;
    top: -5px;
    position: relative;
    right: -5px
}

.nav-bar-block .buttons-right .MoreIcon {
    background: url(/images/Mobile_bg0002.png) center center no-repeat;
    background-size: 22px 4px
}

.nav-bar-block .buttons-right .Ico {
    float: right;
    background: url(/images/Mobile_bg0010_0.png) center center no-repeat;
    background-size: 25px 25px
}

.nav-bar-block .buttons-right .FilesIcon,
.nav-bar-block .buttons-right .Ico {
    height: 44px;
    width: 2pc;
    padding: 0;
    border: none;
    top: -5px;
    position: relative;
    right: -5px
}

.nav-bar-block .buttons-right .FilesIcon {
    display: block;
    background: url(/images/Mobile_bg0156_7.png) center center no-repeat;
    background-size: 25px 25px
}

.nav-bar-block .buttons-right .EmptyIcon {
    float: right;
    background: #38373d;
    height: 44px;
    width: 2pc;
    padding: 0;
    border: none;
    top: -5px;
    position: relative;
    right: -5px;
    opacity: 0
}

.nav-bar-block .buttons-right .PhotoIcon {
    background: url(/images/Mobile_bg0151.png) center center no-repeat;
    background-size: 25px 25px
}

.nav-bar-block .buttons-right .Home,
.nav-bar-block .buttons-right .PhotoIcon {
    display: block;
    height: 44px;
    width: 2pc;
    right: -5px;
    top: -5px;
    position: relative;
    border: none;
    padding: 0
}

.nav-bar-block .buttons-right .Home {
    background: url(/images/Mobile_bg0010_1.png) center center no-repeat;
    background-size: 25px 25px
}

.nav-bar-block .buttons-right .Favor {
    background: url(/images/Mobile_bg0103.png) center center no-repeat;
    background-size: 25px 25px
}

.nav-bar-block .buttons-right .Favor,
.nav-bar-block .buttons-right .Share {
    display: block;
    height: 44px;
    width: 2pc;
    right: -5px;
    top: -5px;
    position: relative;
    border: none;
    padding: 0
}

.nav-bar-block .buttons-right .Share {
    background: url(/images/Mobile_bg0003.png) center center no-repeat;
    background-size: 24px 24px
}

.nav-bar-block .buttons-right .Favored {
    display: block;
    background: url(/images/Mobile_bg0103_0.png) center center no-repeat;
    background-size: 25px 25px;
    height: 44px;
    width: 2pc;
    right: -5px;
    top: -5px;
    position: relative;
    border: none;
    padding: 0
}

.nav-bar-block .buttons-right .BtnText {
    float: right;
    color: #fff;
    font-size: 14px;
    background: #b10000;
    background: rgba(177, 0, 0, 0);
    line-height: 44px;
    height: 44px;
    right: -5px;
    top: -5px;
    position: relative;
    padding: 0 1pc;
    border: 0
}

.nav-bar-block .buttons-right .groupIcon {
    display: block;
    background: url(/images/Mobile_bg0172_0.png) center center no-repeat;
    background-size: 25px 25px;
    height: 44px;
    width: 2pc;
    right: -5px;
    top: -5px;
    position: relative;
    border: none;
    padding: 0
}

.nav-bar-block .buttons-left .BtnText {
    float: left;
    color: #fff;
    font-size: 14px;
    background: #b10000;
    background: rgba(177, 0, 0, 0);
    line-height: 44px;
    height: 44px;
    position: relative;
    padding: 0 1pc;
    border: 0
}

.title .nav-bar-title .Loading {
    background: url(/images/loading.gif) center center no-repeat;
    height: 44px;
    width: 44px;
    padding: 0;
    border: none;
    position: absolute;
    left: 20px
}

.bar-header {
    z-index: 1;
    -webkit-transition: top .25s ease;
    transition: top .25s ease
}

.bar-header-slide-away .bar-header {
    top: -44px
}

.Null {
    padding: 1pc;
    text-align: center
}

*,
:after,
:before {
    box-sizing: content-box
}

.pane {
    background-color: #efeff4
}

.pane.has-header {
    top: 44px
}

.bar {
    padding: 0
}

.bar.bar-stable {
    height: 44px;
    background: #ffffff;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.05);
    position: fixed;
/*     left: 0px; */
    top: 0px;
/*     width: 100%; */
    z-index: 1000;
}

.bar.bar-stable .title {
/*     text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    position: absolute;
    left: 88px;
    right: 88px;
    margin: 0 */
    font-size: 18px;
    font-weight: normal;
    color: #333333;
    text-align: center;
    height: 44px;
    line-height: 44px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 88px;
    right: 88px;
    top: 0px;
    margin: 0px;
    z-index: 1;
}

.bar.bar-stable .title .nav-bar-title {
    max-width: 100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis
}

.bar-stable .button.button-clear {
    color: #333333;
    padding-left: 10px;
    height: 44px;
    float: left
}

.button.button-positive {
    color: #fff
}

.button.button-positive,
.button.button-positive.activated {
    border-color: #d00;
    background-color: #c00
}

.popup-buttons {
    min-height: 30px
}

.list {
    padding: 0
}

.diy-hide {
    display: none
}

.FirstLoadPage {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 44px;
    z-index: 1000;
    background: #efeff4;
    overflow: hidden;
    -webkit-transition: transform 1s ease;
    transition: transform 1s ease
}

.FirstLoadPage.Hide {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0)
}

.FirstLoadPage .IocContentTop {
    top: 88px
}

.FirstLoadPage .Total {
    background: #fff;
    padding: 10px 1pc;
    font-size: 1pc;
    border-bottom: 1px solid #efeff4
}

.FirstLoadPage .Total .Tips {
    color: #888
}

.FirstLoadPage .Class {
    overflow: hidden;
    zoom: 1;
    padding: 4px
}

.FirstLoadPage .Class li {
    width: 33.33%;
    float: left
}

.FirstLoadPage .Class li a {
    display: block;
    text-align: center;
    line-height: 24px;
    font-size: 1pc;
    background: #fff;
    padding: 10px 0;
    border: 1px solid #d9d9d9;
    margin: 4px;
    position: relative
}

.FirstLoadPage .Class li a:active {
    background: #d9d9d9
}

.FirstLoadPage .Class li .SubTotal {
    color: #888;
    font-size: 9pt
}

.FirstLoadPage .Class li .Count {
    background: red;
    height: 18px;
    line-height: 18px;
    border-radius: 9px;
    padding: 0 6px;
    position: absolute;
    right: -4px;
    top: -4px;
    color: #fff;
    font-size: 9pt
}

.FirstLoadPage .FixClass {
    padding-top: 9pt;
    position: relative
}

.FirstLoadPage .FixClass:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #d9d9d9;
    color: #d9d9d9;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5)
}

.FirstLoadPage .FixClass li a {
    display: block;
    text-align: center;
    line-height: 24px;
    font-size: 1pc;
    background: #225fba;
    padding: 10px 0;
    margin: 4px;
    position: relative;
    color: #fff
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: #f5f5f5
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 4px
}

::-webkit-scrollbar-thumb {
    background-color: #555
}

.HomeWaitingIco {
    background: url(/images/Mobile_bg0290.png) center center no-repeat;
    background-size: 30px 30px;
    width: 40px;
    height: 40px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -20px;
    animation: Waiting 2s linear 0s infinite normal;
    -webkit-animation: Waiting 2s linear 0s infinite normal
}

@keyframes Waiting {
    0% {
        transform: rotate(0)
    }
    to {
        transform: rotate(360deg)
    }
}

@keyframes -webkit-Waiting {
    0% {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}


/*pc  ≈‰*/

@media screen and (min-width: 600px) {
    .PcContainer {
        width: 600px;
        left: 50%;
        margin-left: -300px;
    }
    .PcContainer .ionic-scroll {
        overflow-y: scroll;
    }
}